body {
    background-color: beige;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 20px;
}

.input {
    width: 100%;
    max-width: 200px;
} 

main {
    background-color: rgb(241, 216, 169);
}